@view-transition {
  navigation: auto;
}

::view-transition-old(root) {
  animation: fade-out 1s;
}
::view-transition-new(root) {
  animation: fade-in 1s;
}

@keyframes fade-in {
  from { opacity: 0; }
}
@keyframes fade-out {
  to { opacity: 0; }
}

body{
    background-color: rgb(138, 225, 245);
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    cursor: pointer;
}

.wrap{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    .heading{
        font-size: 60px;
        font-weight: 600;
        letter-spacing: 5px;
        span{
            display: inline-block;
            min-width: 5px;
            transition: 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
            cursor: pointer;
        }
    }
    @media screen and (max-width: 500px) {
        .heading{
            font-size: 54px;
        }
    }
    @media screen and (max-width: 420px) {
        .heading{
            font-size: 40px;
        }
    }
    .heading:hover {
        span:hover{
            color: rgb(251, 90, 90);
            transform: translateY(-20px); 
        }
        
    }

    .title{
        font-size: 16px;
    }
}