body{
    background-color: rgb(8, 8, 8);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-family: 'Roboto';
    background-image: linear-gradient(#505050 1px, transparent 1px);
    background-size: 100% 3rem;
}

.container{
    width: 30%;
    height: 40vh;
    background-color: rgb(29, 29, 29);
    border-radius: 10px;
    /* padding: 20px; */
    
    form{
        width: 85%;
        height: 100%;
        margin: 0 auto;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        h1{
            margin: 0;
            text-align: center;
            color: white;
            z-index: 1;
        }
        .form-control{
            display: flex;
            flex-direction: column;
            gap: 5px;
            position: relative;
            z-index: 1;
            label{
                font-weight: 500;
                position: absolute;
                top: 12px;
                left: 10px;
                pointer-events: none;
                opacity: 0.8;
                color: white;
                span{
                    display: inline-block;
                    font-size: 18px;
                    min-width: 5px;
                    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
                }
            }
            input{
                background-color: transparent;
                border: 0;
                border-bottom: 2px solid #d0d0d0;
                display: block;
                width: 100%;
                padding: 15px 0;
                font-size: 18px;
                color: #f9f9f9;
                outline: none;
                z-index: 1;
            }
        }
        .form-control input:focus + label span,
        .form-control input:valid + label span {
            color: #2896fc; 
            transform: translateY(-30px); 
        }

    }
    
}
@media screen and (max-width: 1000px) {
    .container{
        width: 60%;
        height: 60vh;
    }
}
@media screen and (max-width: 490px) {
    .container{
        width: 60%;
        height: 50vh;
        h1{
            font-size: 32px;
        }
        form{
            label{
                span{
                    font-size: 14px !important;
    
                }
            }

        }
    }
}

.container{
    position: relative;
    overflow: hidden;
}

.container::before{
    position: absolute;
    content: '';
    background: radial-gradient(rgb(25, 136, 255), transparent, transparent);
    transform: translate(-50%,  -50% );
    width: 600px;
    height: 600px;
    top: var(--y);
    left: var(--x);
    opacity: 0;
    transition: 0.5s, top 0s, left 0s;
    z-index: 0;
}

.container:hover::before{
    opacity: 1;
}

.container::after{
    content: '';
    position: absolute;
    border-radius: 10px;
    inset: 3px;
    background-color: #222222d2;
    z-index: 0;
}

button{
    width: 100%;
    margin: 0 auto;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: rgb(34, 209, 248);
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 1;
}

button:hover{
    transform: scale(1.05);
}

button:active{
    transform: scale(0.95);
    opacity: 0.6;
}